.nav {
    grid-area: n;
    background-color: #282d33;
    padding: 50px;
}

.item a {
    color: white;
    text-decoration: none;

}

.item a.activeLink {
    color:#6ad1f2;
}

.navimg{
    margin-bottom: bottom;
}
